@{
    ViewBag.Title = "Admin Documentation";
}

<h2>Admin Documentation</h2>

<p>

<table class="carstable">
    <tr>
        <th>Where is the admin section</th>
    </tr>

    <tr>
        <td>
            If you have the administration role, you have the additional Admin section in the main menu.
        </td>
    </tr>

    <tr>
        <td>
            <img src="/images/menuadmin.png" />
        </td>
    </tr>

</table>

<p>

<table class="carstable">
    <tr>
        <th>Users list</th>
    </tr>

    <tr>
        <td>
            You can assign roles to existing users
        </td>
    </tr>

    <tr>
        <td>
            <img src="/images/admin_userssection.png" />
        </td>
    </tr>

</table>

<p>

<table class="carstable">
    <tr>
        <th>Editing user's roles</th>
    </tr>

    <tr>
        <td>
            <img src="/images/admin_editroles.png" />
        </td>
    </tr>

</table>

<p>

<table class="carstable">
    <tr>
        <th>Roles list</th>
    </tr>

    <tr>
        <td>
            You can add or remove roles
        </td>
    </tr>

    <tr>
        <td>
            <img src="/images/admin_rolessection.png" />
        </td>
    </tr>

</table>