@{
    ViewBag.Title = "User Documentation";
}

<h2>User Documentation</h2>

<table class="carstable">
    <tr>
        <th>How to work with filters?</th>
    </tr>

    <tr>
        <td>
            Just drag them from brands container into the glass. You can return any brand icon into brands container.
        </td>
    </tr>

    <tr>
        <td>
            <img src="/images/userscreen1.png" />
        </td>
    </tr>

</table>