@{
    ViewBag.Title = "Moderator Documentation";
}

<h2>Moderator Documentation</h2>

<p>

    <table class="carstable">
        <tr>
            <th>Where is the moderator section</th>
        </tr>

        <tr>
            <td>
                If you have the moderator role, you have the additional Moderator section in the main menu.
            </td>
        </tr>

        <tr>
            <td>
                <img src="/images/menumoderator.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Cars list</th>
        </tr>

        <tr>
            <td>
                You can moderate cars here
            </td>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_cars_index.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Creating new car</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_cars_create.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Edit car</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_cars_edit.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Brands list</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_brands_index.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Create new brand</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_brands_create.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Edit brand</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_brands_edit.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Models list</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_models_index.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Create new model</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_model_create.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Edit model</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_model_edit.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Colors list</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_colors_index.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Create new color</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_color_create.png" />
            </td>
        </tr>

    </table>

<p>

    <table class="carstable">
        <tr>
            <th>Edit color</th>
        </tr>

        <tr>
            <td>
                <img src="/images/moderator_color_edit.png" />
            </td>
        </tr>

    </table>
