@using Front.Areas.Admin.Models;
@using Front.Areas.Cars.Models
@using Microsoft.AspNetCore.Identity
@using Front.Areas.Moderator.ViewModels;

@model AddFotoViewModel;

@{
    ViewBag.Title = "Add foto";
    Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('.photo').click(function () {
            var imageUrl = $(this).data('image');
            $('#imageModal').find('.modal-body img').attr('src', imageUrl);
            $('#imageModal').modal('show');
        });
    });
</script>

<h2>Update fotos</h2>

<div id="photoListContainer">
    <div id="photoList">
        @foreach (Foto foto in Model.Fotos)
        {
            <div>
                <div class="photo" data-image="@foto.Path"><img src="@foto.Path"></div>
                <nav>
                    <form asp-action="DeleteFoto" asp-controller="Catalog" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="@foto.Id" />
                        <input type="submit" value="Delete" />
                    </form>
                </nav>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Enlarged image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" alt="Enlarged Photo" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<form asp-action="AddFoto" asp-controller="Catalog" method="post" enctype="multipart/form-data">

    <table>
        <tr>
            <th>Add foto</th>
        </tr>

        <tr>
            <td>
                <input asp-for="CarId" type="hidden" value="@Model.CarId">
                <label for="photo">Choose foto:</label>
                <input type="file" name="uploadedFile" accept="image/*">
            </td>
        </tr>

    </table>

    <div>
        <nav>
            <input type="button" onclick="window.history.go(-1); return false;" value="Back" />
            <input type="submit" value="Upload foto" />
        </nav>
    </div>
</form>

