@model Front.ViewModels.ForgotPasswordViewModel

@{
    var error = TempData["Error"] as string;
    ViewBag.Title = "Forgot Password";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert-danger">@error</div>
}

<h2>Forgot Password</h2>
<form method="post" asp-controller="Account" asp-action="ForgotPassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email">Email</label><br>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <input type="button" onclick="window.history.go(-1); return false;" value="Back" />
        <input type="submit" value="Send a temp password by email" />
    </div>
</form>