@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Страница авторизации</h2>
<form method="post">
    <p>
        <label>Email:</label><br />
        <input name='email' />
    </p>
    <p>
        <label>Пароль:</label><br>
        <input type='password' name='password' />
    </p>
    <input type='submit' value='Авторизоваться' />
</form>