@using Front.Areas.Admin.Models;
@using Microsoft.AspNetCore.Identity
@using Front.Areas.Moderator.ViewModels;

@model EditBrandViewModel;

@{
    ViewBag.Title = "Edit brand";
    Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

<script>
    function goBack() {
        window.location.href = '/Moderator/Brands';
    }
</script>

<h2>Изменить данные</h2>

<div class="logo">
    <div class="photo" data-image="@Model.Logo"><img src="@Model.Logo"></div>

    <form asp-action="AddLogo" asp-controller="Brands" method="post" enctype="multipart/form-data">
        <input asp-for="@Model.Id" type="hidden" value="@Model.Id">
        <input type="file" name="uploadedFile" accept="image/*">
        <input type="submit" value="Upload" />
    </form>
</div>


<form asp-action="Edit" asp-controller="Brands" method="post">

    <table>
        <tr>
            <th>Brand Name</th>
        </tr>
        <tr>
            <td>
                <input asp-for="Name" />
            </td>
        </tr>

    </table>

    <div>
        <nav>
            <input type="button" onclick="goBack();" value="Back" />
            <input type="submit" value="Make changes" />
        </nav>
    </div>
</form>


