@using Front.Areas.Admin.Models;

@model Front.ViewModels.HomeViewModel;
@{
    var error = TempData["Error"] as string;
    var info = TempData["Info"] as string;
    ViewBag.Title = "Home";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>

    $(document).ready(function () {

        $(".draggable-item").draggable({
            revert: "invalid",
            cursor: "move",
        });

        var droppedItemsIds = [];

        $(".droppable-area-stakan").droppable({
            accept: ".draggable-item",
            drop: function (event, ui) {
                var droppedItem = ui.helper;
                var droppedItemId = droppedItem.data("id");
                if (droppedItemsIds.indexOf(droppedItemId) === -1) {
                    droppedItemsIds.push(droppedItemId);

                    $.ajax({
                        url: "/Home/Index",
                        type: "POST",
                        data: { brandIds: droppedItemsIds },
                        success: function (data) {
                            if (data && data.cars && Array.isArray(data.cars)) {
                                $(".carscontainer table tbody").empty();
                                $.each(data.cars, function (carIndex, car) {
                                    var newRow = $("<tr>");
                                    $("<td>").text(car.year).appendTo(newRow);
                                    $(".carscontainer table tbody").append(newRow);
                                });
                            } else {
                                console.log("Unexpected data structure received from the server");
                            }
                        },
                        error: function (error) {
                            // Handle AJAX request errors
                        }
                    });

                }

            }
        });

        $(".droppable-area-brands").droppable({
            accept: ".draggable-item",
            drop: function (event, ui) {
                var droppedItem = ui.helper;
                var droppedItemId = droppedItem.data("id");
                var index = droppedItemsIds.indexOf(droppedItemId);

                if (index === -1) {
                } else {
                    droppedItemsIds.splice(index, 1);

                    $.ajax({
                        url: "/Home/Index",
                        type: "POST",
                        data: { brandIds: droppedItemsIds },
                        success: function (data) {
                            if (data && data.cars && Array.isArray(data.cars)) {
                                $(".carscontainer table tbody").empty();
                                $.each(data.cars, function (carIndex, car) {
                                    var newRow = $("<tr>");
                                    $("<td>").text(car.year).appendTo(newRow);
                                    $(".carscontainer table tbody").append(newRow);
                                });
                            } else {
                                console.log("Unexpected data structure received from the server");
                            }
                        },
                        error: function (error) {
                            // Handle AJAX request errors
                        }
                    });

                }
            }
        });
    });

</script>

<style>
    .brandlogos {
        display: flex;
        flex-direction: column;
        border: 1px solid #444;
        background-color: #f0f0f0;
        padding: 20px;
    }

    .logoimage {
        margin-bottom: 10px;
    }

        .logoimage img {
            width: 60px;
        }

    .carscontainer {
        flex: 1;
        background-color: #e0e0e0;
    }

    .stakancontainer {
        text-align: center;
    }

    .stakan {
        text-align: center;
        display: inline-block;
        align-items: center;
    }

        .stakan img {
            display: inline-block;
            align-items: center;
            width: 300px;
        }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 10px;
        height: 80vh;
    }

</style>

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert-danger">@error</div>
}

@if (!string.IsNullOrEmpty(info))
{
    <div class="alert-info">@info</div>
}

<h2>Home</h2>

<div class="container">
    <div class="brandlogos droppable-area-brands">
        @foreach (var brand in Model.Brands)
        {
            <div data-id="@brand.Id" class="logoimage draggable-item"><img src="@brand.Logo"></div>
        }
    </div>
    <div class="stakancontainer">
        <div class="stakan droppable-area-stakan"><img src="/images/stakan.png"></div>
    </div>
    <div class="carscontainer">
        <table>
            <tr>
                <th>Car</th>
                <th>Email</th>
            </tr>
        </table>
    </div>
</div>