@using Front.Areas.Admin.Models;

@model Front.Areas.Admin.ViewModels.EditViewModel;

@{
	ViewBag.Title = "Edit user";
}

<h2>Изменить данные</h2>

<form method="post" asp-controller="Users" asp-action="Edit">

    <table>
        <tr>
            <th>Login</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>
                <input asp-for="Login" />
            </td>
            <td>
                <input asp-for="Email" />
            </td>
        </tr>

    </table>

    <div>
        <nav>
            <input type="button" onclick="goToAdminUsers();" value="Back" />
            <input type="submit" value="Make changes" />
        </nav>
    </div>

</form>
