@model Front.ViewModels.ChangePasswordViewModel

@{
    var error = TempData["Error"] as string;
    var info = TempData["Info"] as string;
    ViewBag.Title = "Change Password";
}

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert-danger">@error</div>
}

@if (!string.IsNullOrEmpty(info))
{
    <div class="alert-info">@info</div>
}

<h2>Change Password</h2>
<form method="post" asp-controller="Account" asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="OldPassword">Old Password</label><br>
        <input asp-for="OldPassword" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword1">New Password</label><br>
        <input asp-for="NewPassword1" />
        <span asp-validation-for="NewPassword1"></span>
    </div>
    <div>
        <label asp-for="NewPassword2">New Password</label><br>
        <input asp-for="NewPassword2" />
        <span asp-validation-for="NewPassword2"></span>
    </div>

    <div>
        <input type="button" onclick="goToCarsIndex();" value="Back" />
        <input type="submit" value="Save password" />
    </div>
</form>