@model Front.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    var error = TempData["Error"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert-danger">@error</div>
}

<h2>Login</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Login">Login</label><br>
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="authbuttons">
        <input type="button" onclick="goToAccountForgotPassword();" value="Forgot your password?" />
        <input type="submit" value="Login" />
    </div>
</form>