@using Front.Areas.Moderator.ViewModels;

@model CreateColorViewModel;

@{
    ViewBag.Title = "Create a new color";
}

<h2>Create a new color</h2>

<form asp-action="Create" asp-controller="Colors" method="post">

    <div class="formdiv">
        <table>
            <tr>
                <th>Color Name</th>
            </tr>
            <tr>
                <td>
                    <input class="inputfield" asp-for="Name" />
                </td>
            </tr>

        </table>
    </div>

    <div>
        <nav>
            <input type="button" onclick="goToModeratorColors();" value="Back" />
            <input type="submit" value="Create" />
        </nav>
    </div>

</form>
