@using Front.Areas.Cars.Models;

@model IEnumerable<Color>

@{
	var error = TempData["Error"] as string;
	ViewBag.Title = "Colors";
	Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

@if (!string.IsNullOrEmpty(error))
{
	<div class="alert-danger">@error</div>
}

<h2>Colors</h2>
<p>
	<a class="createlabel" asp-action="Create">Create new color</a>
</p>
<table>
	<tr>
		<th>Name</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>

			<td>
				<a class="editlabel" asp-action="Edit" asp-controller="Colors" asp-route-id="@item.Id">Изменить</a>
			</td>
			<td>
				<form asp-action="Delete" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Удалить" />
				</form>
			</td>
		</tr>
	}
</table>
