@using Front.Areas.Admin.Models;
@using Front.Classes;

@model User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>

<body>

    <div>
        <nav>

            <a href="/account/index">Home</a>

            @if (@Model == null)
            {
                <a href="/account/login">Sign in</a>
            }

            @if (@Model != null && Model.Role == Role.Admin)
            {
                <a href="/admin">Admin</a>
            }

            <a href="/account/about">About</a>

            @if (@Model != null)
            {
                <a href="/account/logout">Logout</a>
            }

            <div class="animation start-home"></div>
        </nav>
    </div>


    <div>
        @RenderBody()
    </div>

    <footer>
        Copyright© Yaroslav Menshikov
    </footer>

</body>

</html>
