@using Front.Areas.Admin.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>

<body>

    <div>
        <nav>

            <a href="/account/index">Home</a>

            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/account/login">Sign in</a>
            }

            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/account/register">Register</a>
            }

            @if (User.IsInRole("Admin"))
            {
                <a href="/admin">Admin</a>
            }

            @if (User.IsInRole("Moderator"))
            {
                <a href="/moderator">Moderator</a>
            }

            <a href="/account/about">About</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a href="/account/logout">Logout(@User.Identity.Name)</a>
            }

            <div class="animation start-home"></div>
        </nav>
    </div>


    <div>
        @RenderBody()
    </div>

    <footer>
        Copyright© Yaroslav Menshikov
    </footer>

</body>

</html>
