@using Front.Areas.Admin.Models;
@using Microsoft.AspNetCore.Identity;

@model Front.ViewModels.CreateRoleViewModel;

@{
	ViewBag.Title = "Create role";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Create" asp-controller="Roles" method="post">

    <table>
        <tr>
            <th>Role Name</th>
        </tr>
        <tr>
            <td>
                <input asp-for="Name" />
            </td>
        </tr>

    </table>

    <div>
        <nav>
            <input type="button" onclick="window.history.go(-1); return false;" value="Back" />
            <input type="submit" value="Create" />
        </nav>
    </div>

</form>
