.brandscontainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    background-color: #f0f0f0;
    padding: 20px;
}

.carscontainer {
    flex: 1;
    background-color: #fff;
    max-height: 80vh;
}

.glasscontainer {
    text-align: center;
    margin: 200px 20px 0 20px;
}

    .glasscontainer img {
        display: inline-block;
        align-items: center;
        width: 200px;
    }

.contentcontainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    max-height: 600px;
}

.carstable {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 0;
}

footer {
    display: none;
}