@using Front.Areas.Moderator.ViewModels;

@model CreateColorViewModel;

@{
    ViewBag.Title = "Create color";
    Layout = "/Areas/Moderator/Views/Shared/_ModeratorLayout.cshtml";
}

<h2>Create new color</h2>

<form asp-action="Create" asp-controller="Colors" method="post">

<table>
    <tr>
            <th>Color Name</th>
    </tr>
    <tr>
        <td>
            <input asp-for="Name" />
        </td>
    </tr>

</table>

<div>
    <nav>
        <input type="button" onclick="window.history.go(-1); return false;" value="Back" />
        <input type="submit" value="Create" />
    </nav>
</div>

</form>
