@using Front.Areas.Cars.Models
@using Front.Areas.Moderator.ViewModels;

@model CreateModelViewModel;

@{
    ViewBag.Title = "Create model";
}

<h2>Добавить модель</h2>

<form asp-action="Create" asp-controller="Models" method="post">

    <table>
        <tr>
            <th>Brand</th>
            <th>Model Name</th>
        </tr>

        <tr>
            <td>
                <select asp-for="BrandId">
                    @foreach (Brand brand in Model.AllBrands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>
            </td>
            <td>
                <input asp-for="Name" />
            </td>
        </tr>

    </table>

    <div>
        <nav>
            <input type="button" onclick="goToModeratorModels();" value="Back" />
            <input type="submit" value="Create" />
        </nav>
    </div>

</form>
