<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/moderator.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <script src="@Url.Content("~/js/moderator/common.js")" type="text/javascript"></script>
</head>
<body>

    <div>
        <nav>
            <a href="/home/index">Back to Index</a>
        </nav>
    </div>

    <div>
        <nav>
            <a href="/moderator/catalog">Cars</a>
            <a href="/moderator/brands">Brands</a>
            <a href="/moderator/models">Models</a>
            <a href="/moderator/colors">Colors</a>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
