<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <a href="/account/index">Back to Index</a>

    <div>
        <nav>
            <a href="/admin/users/users">Users</a>
            <a href="/admin/roles/roles">Roles</a>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
