a.createlabel {
    color: #007bff;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
}

    a.createlabel:hover {
        text-decoration: underline;
    }

a.editlabel {
    color: #007bff;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
}

    a.editlabel:hover {
        text-decoration: underline;
    }

p {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}