nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        font-size: 16px;
        padding: 8px;
    }

        nav a:hover {
            text-decoration: underline;
        }

    nav i {
        margin-right: 8px;
    }

.inputfield {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #c82333;
    }

input[type="button"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    input[type="button"]:hover {
        background-color: #c82333;
    }

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.alert-info {
    color: #721c24;
    background-color: #39bf39;
    border: 1px solid #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.logoimage {
    text-align: center;
}

.brandlogo {
    display: inline-block;
    width: 40px;
}

.carphotosmall {
    display: inline-block;
    width: 200px;
}

.color-item {
    display: flex;
    align-items: center;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #444;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 240px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

    .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.authbuttons {
    box-sizing: border-box;
}

.formdiv {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
}

.formfullwidth {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}