@using Front.Areas.Admin.Models;
@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>

@{
	ViewBag.Title = "Roles administration";
	Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Roles</h2>
<p>
	<a class="createlabel" asp-action="Create">Add new role</a>
</p>
<table>
	<tr>
		<th>Name</th>
		<th>Delete</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>
				<form asp-action="Delete" asp-controller="roles" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Удалить"/>
				</form>
			</td>
		</tr>
	}
</table>