@using Front.Areas.Moderator.ViewModels;

@model CreateBrandViewModel;

@{
    ViewBag.Title = "Create brand";
}

<h2>Create new brand</h2>

<form asp-action="Create" asp-controller="Brands" method="post">

    <div class="formdiv">

        <table>
            <tr>
                <th>Brand Name</th>
            </tr>
            <tr>
                <td>
                    <input class="inputfield" asp-for="Name" />
                </td>
            </tr>

        </table>

    </div>

    <div>
        <nav>
            <input type="button" onclick="goToModeratorBrands();" value="Back" />
            <input type="submit" value="Create" />
        </nav>
    </div>

</form>
