body {
    background-color: rgb(255,255,255);
}

.topmenu {
    font-size: 10px;
    font-family: -apple-system,system-ui,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 600;
    position: relative;
    background-color: rgb(188, 188, 188);
    height: 20px;
    width: 300px;
}

.tabs-section {
    font-size: 10px;
    font-family: -apple-system,system-ui,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 600;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgb(188, 188, 188);
    height: 20px;
    width: 300px;
}

.user-section {
    font-size: 10px;
    font-family: -apple-system,system-ui,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 600;
    display: inline-block position: absolute;
    overflow: hidden;
    background-color: rgb(188, 188, 188);
    height: 20px;
}

.menu-element {
    padding: 0px 10px 0px 0px;
}

    .menu-element:hover {
        padding: 0px 10px 0px 0px;
        cursor: pointer;
        color: red;
        padding: 0px 10px 0px 0px;
    }

    .menu-element:visited {
        cursor: pointer;
        color: greenyellow;
        padding: 0px 10px 0px 0px;
    }

li {
    display: inline;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
