<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>

    <div>
        <nav>
            <a href="/account/index">Back to Index</a>
        </nav>
    </div>

    <div>
        <nav>
            <a href="/moderator/brands">Brands</a>
            <a href="/moderator/models">Models</a>
            <a href="/moderator/cars">Cars</a>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
