@using Front.Areas.Admin.Models;

@model Front.ViewModels.CreateUserViewModel;

@{
    ViewBag.Title = "Create";
    Layout = "/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<h2>Добавить пользователя</h2>
