@using Front.Areas.Admin.Models;

@model Front.Areas.Admin.ViewModels.EditViewModel;

@{
	ViewBag.Title = "Edit user";
    Layout = "/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<h2>Изменить данные</h2>

<form method="post" asp-controller="Users" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email">Email</label><br>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Login">Login</label><br>
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Role">Role</label><br />
        <input asp-for="Role" />
        <span asp-validation-for="Role"></span>
    </div>

    <div>
        <input type="submit" value="Make changes" />
    </div>
</form>
